alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# Update dotfiles in the background
#dotfiles & disown

# Update dotfiles every hour
(crontab -l 2>/dev/null | grep -v '^[a-zA-Z]' | grep -v 'dotfiles'; echo '0 * * * * /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME fetch') | sort - | uniq - | crontab -