alias dotfiles='/usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'

# Update dotfiles in the background
#dotfiles & disown

# Update dotfiles every hour
if command -v crontab &> /dev/null; then
  (crontab -l 2>/dev/null | grep -v '^[a-zA-Z]' | grep -v 'dotfiles'; echo '0 * * * * /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME fetch --quiet origin && /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME diff --quiet HEAD FETCH_HEAD || /usr/bin/git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME merge --ff-only FETCH_HEAD') | sort - | uniq - | crontab -
else
  echo "Crontab not available, manually update dotfiles."
fi
