# See what command you are using the most (this parses the history command)
cm() {
  history | awk ' { a[$4]++ } END { for ( i in a ) print a[i], i | "sort -rn | head -n10"}' | awk '$1 > max{ max=$1} { bar=""; i=s=10*$1/max;while(i-->0)bar=bar"#"; printf "%25s %15d %s %s", $2, $1,bar, "\n"; }'
}

# Where is a function defined?
whichfunc() {
  whence -v $1
  type -a $1
}

## mkcd = create a directory and `cd` into it
mkcd() { mkdir -p "$@" && cd "$_"; }

alias cls='clear'

[[ -f "/etc/profile.d/bash_completion.sh" ]] && source "/etc/profile.d/bash_completion.sh"
