# set PATH so it includes user's private bin if it exists
NEW_BIN="$HOME/bin"
if echo "$PATH" | grep -q -E "(^|:)$NEW_BIN(:|$)"; then
  [ -d "$NEW_BIN" ] && PATH="$NEW_BIN:$PATH"
fi

NEW_BIN="$HOME/.local/bin"
if echo "$PATH" | grep -q -E "(^|:)$NEW_BIN(:|$)"; then
  [ -d "$NEW_BIN" ] && PATH="$NEW_BIN:$PATH"
fi

NEW_BIN="$HOME/go/bin"
if echo "$PATH" | grep -q -E "(^|:)$NEW_BIN(:|$)"; then
  [ -d "$NEW_BIN" ] && PATH="$NEW_BIN:$PATH"
fi

export PATH

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'
