# Ignore everything
*

# But not these files...
!.gitignore
#!systemd/user/network-online.service
#!systemd/user/default.target.wants/network-online.service
#!script.pl
#!template.latex
# etc...

# ...even if they are in subdirectories
#!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*

# Ignore Tmux Plugins
.config/tmux/plugins/*
!.config/tmux/plugins/tpm